*
{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #202020;
}

.nav-bar {
  background: #ffff;
  width: 100vw;
  height: 10vh;
}

.nav-links ul {
  justify-content: flex-end;
  display: flex;
}

.nav-links ul li {
  margin: 20px;
  cursor: pointer;
  list-style: none;
}